<div class="m-5 my-3">
  <div *ngIf="doesUserHaveQuestions">
    <div *ngFor="let question of questionList; let i = index">
      <div *ngIf="questionIndex === i">
        <div class="question-title">
          <h1>{{question.description}}</h1>
          <h1 style="width: 100px;">{{questionIndex}} / {{questionList.length}}</h1>
        </div>
        <!--      <div class="mx-4">-->
        <!--        <h2>{{question}}</h2>-->
        <!--      </div>-->
        <div class="form-outline">
        <textarea
          class="form-control answer"
          id="textAreaExample"
          rows="4"
          placeholder="Your feelings"
          [(ngModel)]="answer"></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        class="btn btn-outline-success my-3"
        type="submit"
        (click)="answerQuestion()">{{answerButtonTitle}}</button>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center my-5">
    <h1 *ngIf="questionsFinished">
      You finished answering questions
    </h1>
  </div>
  <div *ngIf="!doesUserHaveQuestions && !questionsFinished">
    <h1>
      You don't have a survey at the moment
      <i class="em em-smiley" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH"></i>
    </h1>

  </div>
</div>
