<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The App Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--      <button class="btn btn-outline-success mx-2 ms-auto">Go to next month</button>-->
<!--      <button class="btn btn-outline-success mx-2">Create room</button>-->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
