<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<div class="whole_page">
<div class="center_pannel">
<p id="message">Welcome</p>
<div class="username_div">
<p id="username">username</p>
<textarea placeholder="username" #UsernameText rows="1" id="textarea_username"></textarea>
</div>
<div class="password_div">
<p id="password">Password</p>
<textarea placeholder="password" #PasswordText rows="1" id="textarea_password"></textarea>
</div>
<div *ngIf="check_if_false" class="alert">
    Mauvais mot de passe, veuillez réessayer.
  </div>
<button class="send_button"(click)="sendConnectionInfo(UsernameText.value,PasswordText.value)">Send</button>
</div>

</div> 
