<div class="container">
  <div class="d-flex mt-4 align-items-center justify-content-between mb-3">
    <img src="https://image.noelshack.com/fichiers/2023/13/7/1680427339-sante-mentale.png" alt="medical" style="width: 7%" class="me-4">
    <h1 class="text-center mt-3 me-auto" style="font-size: 2rem">MindCure dashboard</h1>
    <h2 class="text-center mt-3" style="font-size: 1.5rem">Room {{roomName}}</h2>
  </div>
  <hr>
  <div *ngIf="questionCount < 6">
    <div class="d-flex justify-content-between">
      <h2>{{getCurrentQuestion()}}</h2>
      <h2 class="">Q{{questionCount}} M1</h2>
    </div>
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="col-8">
            <!-- foreach user of this room -->
            <div class="d-flex mt-5 " *ngFor="let reply of getReplyList(); let i = index">
              <div class="d-flex flex-column ms-0">
                <img *ngIf="i < 5" style="height: 100px;" [src]="profileImages[i]" alt="test" class="rounded-circle object-fit-cover">
              </div>
              <p class="ms-5 mb-4 d-flex align-items-center">{{reply.description}}</p>
            </div>
            <hr>
          </div>
          <div class="d-flex justify-content-end mb-5">
            <button class="btn btn-outline-success mx-2" (click)="goToPreviousQuestion()">Previous Question</button>
            <button class="btn btn-outline-success mx-2" (click)="goToNextQuestion()">Next Question</button>
            <button class="btn btn-outline-success mx-2">Next Month</button>
            <!--          <button class="btn btn-success rounded-circle d-flex align-items-center justify-content-center me-5" style="width: 128px; height: 128px">-->
            <!--            <i class="fw-bold me-3" style="font-size: 3rem;">Q</i>-->
            <!--            <i class="fas fa-arrow-right fa-lg font-weight-bold" style="font-size: 3rem"></i>-->
            <!--          </button>-->
            <!--          <button class="btn btn-success rounded-circle d-flex align-items-center justify-content-center" style="width: 128px; height: 128px">-->
            <!--            <i class="fw-bold me-3" style="font-size: 3rem;">M</i>-->
            <!--            <i class="fas fa-arrow-right fa-lg font-weight-bold" style="font-size: 3rem"></i>-->
            <!--          </button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none">
    <div class="d-flex justify-content-center align-items-center my-5 row" *ngIf="questionCount >= 6">
      <img src="https://image.noelshack.com/fichiers/2023/13/7/1680427729-checked.png" alt="check" style="width: 10%">
      <h1 class="text-center mt-3">
        Session is finished <i class="em em-smiley" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH"></i>
      </h1>
    </div>
  </div>

</div>
